name: Trigger Issues
on:
  issues:
    types: [opened, edited, deleted]
jobs:
  output:
    runs-on: ubuntu-latest
    steps:
      - name: Echo issue information
        run: echo ${{ toJson(github) }}
          
      